.DS_Store
.deployment/
*.tgz
*.zip
coverage/
data/
dist/
docs/.astro/
docs/dist/
docs/node_modules/
mikroanalytics/
mikroanalytics.config.json
node_modules/
npm-debug.log*
VERSION
release/
security/
sbom.json
oss-licenses.txt
grype-report.json
grant-report.txt
